:root {
  --mainfont-nanum: "nanumSquareNeo";
  --mainfont-nexon: "nexonLv1";

  --black: #000;
  --black100: #161616;
  --black200: #222;
  --black300: #333;
  --black400: #444;
  --black500: #000;

  --blackAlpha: #00000000;
  --blackAlpha100: #00000025;
  --blackAlpha200: #0000004d;
  --blackAlpha300: #00000091;
  --blackAlpha400: #000000c3;
  --blackAlpha500: #000000eb;

  --white: #fff;
  --white100: #efefef;
  --white200: #d9d9d9;
  --white300: #fff;
  --white400: #fff;
  --white500: #fff;

  --red: #f00;
  --red100: rgba(255, 0, 0, 0.441);

  // 폰트 셋팅
  font-family: var(--mainfont-nanum), var(--mainfont-nexon);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  // 폰트 최적화
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // 폰트 색상
  --color-button-submit: #007bff;
  --color-button-submit-hover: #2563eb;
  --color-button-logout: #afc8e2;
  --color-button-logout-hover: #6b87c4;

  // 버튼
  // 네 // 확인 // 저장 // 생성
  --button-color-positive: #f4f4f4;
  --button-color-positive-hover: #f4f4f4;

  // 할일추가 ADD 변경 최대하기 위임하기 리더위임하기
  --button-color-update: #f4f4f4;
  --button-color-update-hover: #f4f4f4;

  // 삭제 친구삭제 강퇴하기 추방하기
  --button-color-negative: #f4f4f4;
  --button-color-negative-hover: #f4f4f4;

  // 아니오 닫기 취소
  --button-color-cancel: #f4f4f4;
  --button-color-cancel-hover: #f4f4f4;

  // 글꼴
  // --font-family

  // 배경색
  // 메인배경
  --background-color-main: #f4f4f4;

  // 컨텐트배경
  --background-color-content: #2ff3ea;

  // 로고
  // --logo-main:

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.4;
  }
}
