.add_button {
  background-color: #5c6ac4;
  border: solid 1px;
  border-radius: 10px;
  padding: 5px;
}
////친구,멤버전용
.ys_button {
  width: 80px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.add_button_2 {
  @extend .ys_button;
  color: black;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}

.update_button {
  @extend .ys_button;
  color: black;
  background-color: var(--button-color-update);
  &:hover {
    background-color: var(--button-color-update-hover);
  }
}
.delete_button {
  @extend .ys_button;
  color: black;
  background-color: var(--button-color-negative);
  &:hover {
    background-color: var(--button-color-negative-hover);
  }
}
//////////////////////////
.exit_button {
  background-color: red;
  border: solid 1px;
  width: 80px;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  cursor: pointer;
  &:hover {
    background-color: #ff5555;
  }
}

.cancle_button {
  background-color: lightgray;
  width: 80px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
}

.common-button {
  width: 100%;
  color: rgb(39, 35, 35);
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
}

.submit-button {
  @extend .common-button;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}

.auth-button-withdrawal-enroll {
  @extend .common-button;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}
.auth-button-withdrawal-immediate {
  @extend .common-button;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}
.auth-button-withdrawal-email {
  @extend .common-button;
  background-color: var(--button-color-update);
  &:hover {
    background-color: var(--button-color-update-hover);
  }
}

.auth-button-withdrawal-cancel {
  @extend .common-button;
  background-color: var(--button-color-cancel);
  &:hover {
    background-color: var(--button-color-cancel-hover);
  }
}

.auth-button-withdrawal-logout {
  @extend .common-button;
  background-color: var(--button-color-cancel);
  &:hover {
    background-color: var(--button-color-cancel-hover);
  }
}



.logout-button {
  @extend .common-button;
  background-color: var(--color-button-logout);
  &:hover {
    background-color: var(--color-button-logout-hover);
  }
}

.auth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 8px;
  
  padding: 8px 16px;
  margin: 0 10px; /* 버튼들 간의 간격 */

  font-size: 14px;
  font-weight: 500;
  color: #4b5563; /* text-gray-700 */
  background-color: #f9fafb; /* bg-gray-50 */
  border-radius: 8px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.auth-button-save {
  @extend .auth-button;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}

.auth-button-cancel {
  @extend .auth-button;
  background-color: var(--button-color-cancel);
  &:hover {
    background-color: var(--button-color-cancel-hover);
  }
}


.auth-button-withdrawal {
  @extend .auth-button;
  background-color: var(--button-color-negative);
  &:hover {
    background-color: var(--button-color-negative-hover);
  }
}


.auth-button-change {
  @extend .auth-button;
  background-color: var(--button-color-update);
  &:hover {
    background-color: var(--button-color-update-hover);
  }
}


.auth-button-logout {
  @extend .auth-button;
  background-color: var(--button-color-cancel);
  &:hover {
    background-color: var(--button-color-cancel-hover);
  }
}

.auth-button-yes {
  @extend .auth-button;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}

.auth-button-no {
  @extend .auth-button;
  background-color: var(--button-color-cancel);
  &:hover {
    background-color: var(--button-color-cancel-hover);
  }
}


