.add_button {
  background-color: #5c6ac4;
  border: solid 1px;
  border-radius: 10px;
  padding: 5px;
}
////친구,멤버전용
.ys_button {
  width: 80px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.add_button_2 {
  @extend .ys_button;
  color: black;
  background-color: var(--button-color-positive);
  &:hover {
    background-color: var(--button-color-positive-hover);
  }
}

.update_button {
  @extend .ys_button;
  color: black;
  background-color: var(--button-color-update);
  &:hover {
    background-color: var(--button-color-update-hover);
  }
}
.delete_button {
  @extend .ys_button;
  color: black;
  background-color: var(--button-color-negative);
  &:hover {
    background-color: var(--button-color-negative-hover);
  }
}
//////////////////////////
.exit_button {
  background-color: red;
  border: solid 1px;
  width: 80px;
  border-radius: 10px;
  padding: 5px;
  color: whitesmoke;
  cursor: pointer;
  &:hover {
    background-color: #ff5555;
  }
}

.cancle_button {
  background-color: lightgray;
  width: 80px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
}

.common-button {
  width: 100%;
  color: white;
  border: none;
  border-radius: 0.375rem;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
}

.submit-button {
  @extend .common-button;
  background-color: var(--color-button-submit);
  &:hover {
    background-color: var(--color-button-submit-hover);
  }
}

.logout-button {
  @extend .common-button;
  background-color: var(--color-button-logout);
  &:hover {
    background-color: var(--color-button-logout-hover);
  }
}

.logout-button-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 8px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #4b5563; /* text-gray-700 */
  background-color: #f9fafb; /* bg-gray-50 */
  border-radius: 8px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.logout-button-info:hover {
  background-color: #f3f4f6; /* hover:bg-gray-100 */
}

.userInfo-button {
  padding: 8px 16px;
  font-size: 14px;
  color: #4b5563; /* text-gray-700 */
  background-color: #f9fafb; /* bg-gray-50 */
  border-radius: 8px;
  cursor: pointer;
}
