.confirm_container {
  width: 300px;
  height: auto;
  .confirm_label_container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .confirm_button_container {
    display: flex;
    justify-content: center;

    button {
      width: 100px;
      height: 30px;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
    }
    .confirm_yes_button {
      background-color: var(--button-color-positive);
      &:hover {
        background-color: var(--button-color-positive-hover);
      }
    }
    .confirm_no_button {
      background-color: var(--button-color-cancel);
      &:hover {
        background-color: var(--button-color-cancel-hover);
      }
    }
  }
}
