//유저 이미지 동그랗게(userinfo)
.round_user_info_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
}
//이미지가 없으면 아이콘으로(userinfo용)
.user_alt_icon {
  width: 70px;
  height: 70px;
  color: black;
  background-color: #aadbff;
  border-radius: 50%;
  border: 2px solid #000;
}

//유저 이미지 동그랗게(userDetail용)
.round_user_detail_image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000;
}

//이미지가 없으면 아이콘으로(userDetail용)
.user_alt_detail_icon {
  width: 250px;
  height: 250px;
  color: black;
  background-color: #aadbff;
  border-radius: 50%;
  border: 2px solid #000;
}
