.search_box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 180px;
  margin-left: auto;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  box-shadow: 1px 1px darkgray;
  >input {
    width: 160px;
    padding: 6px;
    border: none;
    outline: none;
  }
  > svg{
    font-weight: bold;
    font-size: 1.5em;
  }
}