//유저 리스트 아이템
.userInfo_box{
  margin: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.userInfo_context{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  >div{
    display: flex;
    justify-content: flex-start;
    align-items:baseline ;
    >h2{
      font-weight: bold;
      letter-spacing: 3px;
    }
    >p{
      font-weight: bold;
      letter-spacing: 1px;
      color: #6b7280;
    }
  }
  >p{
    color: #6b7280;
  }
}