.midcontainer {
  display: flex;

  .main_container {
    margin: 10px;
    width: 90%;
    height: 733px;
    border: solid 1px #ccc;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 3px 3px 5px #d7d7d7;
  }
}
