.timeline-item {
  background-color: #007bff;
  color: white;
  border: 1px solid #0056b3;
}
.timeline-item-selected {
  background-color: #0056b3;
  color: white;
}

.rct-item {
  background-color: red;
}
