// ChatRomm.js

.chatroom-container {
  background-color: #f9f5f6;
  border: solid 1px #aaa;
  margin: 15px;
  border-radius: 10px;
  flex-grow: 1;
  transition: all 0.3s ease;
  width: 1100px;
  height: 700px;
  position: relative;
  &.folded {
    margin: 20px;
  }
}

.chat-messages {
  overflow-y: auto;
}

//----------------------------------------------------------
//ChatRoomModal.js
.chatRoom-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
}

.chatroom-modal-content {
  background-color: wheat;

  border-radius: 8px;
  width: 400px;
}
// InviteFriendModal.js
.invite_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px; // 모달 너비
  height: 50%; // 전체 화면 높이
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; // 우선순위
  padding: 20px;
  display: flex;
  flex-direction: column;
  // overflow-y: auto;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .friends-list {
    flex: 1; // 가변 영역
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow-y: auto;

    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #555;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 8px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: #f0f0f0;
        }

        .invite-btn {
          padding: 6px 12px;
          font-size: 14px;
          border: none;
          border-radius: 4px;
          background-color: #dbb5b5;
          color: #fff;
          cursor: pointer;

          &:hover {
            background-color: #987070;
          }
        }
      }
    }
  }

  .create_btn,
  .close_btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    &:first-of-type {
      background-color: #f0a0a0;
      color: #fff;

      &:hover {
        background-color: #e1acac;
      }
    }

    &:last-of-type {
      background-color: #f0a0a0;
      color: #fff;

      &:hover {
        background-color: #e1acac;
      }
    }
  }
}

//ExitModal.js
.exit_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .create_btn,
  .close_btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    &:first-of-type {
      background-color: #007bff;
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }
    }

    &:last-of-type {
      background-color: #6c757d;
      color: #fff;

      &:hover {
        background-color: #5a6268;
      }
    }
  }
}

// DelegateModal.js
.delefate_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }

  p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-bottom: 10px;

      &:hover {
        background-color: #f8f9fa;
      }

      button {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .create_btn,
  .close_btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    &:first-of-type {
      background-color: #007bff;
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }
    }

    &:last-of-type {
      background-color: #6c757d;
      color: #fff;

      &:hover {
        background-color: #5a6268;
      }
    }
  }
}

// ----------------------------------------------------------
//ChatRoomHeader.js

.chatroom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 2px solid #aaa;
}

.chatroom-exit-btn {
  font-size: 40px;
  background-color: transparent;
  display: inline-flex; /* 아이콘 크기에 맞게 버튼 크기 자동 조정 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  padding: 0; /* 여백 제거 (아이콘 크기에 맞게 버튼 크기 조정) */
  border: none; /* 버튼 테두리 없애기 */
  background: transparent;
  cursor: pointer; /* 클릭할 수 있는 버튼으로 설정 */
}

.chatroom-invite-btn {
  font-size: 40px;
  // background-color: pink;
  border-radius: 50%;
  display: inline-flex; /* 아이콘 크기에 맞게 버튼 크기 자동 조정 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  padding: 0; /* 여백 제거 (아이콘 크기에 맞게 버튼 크기 조정) */
  cursor: pointer; /* 클릭할 수 있는 버튼으로 설정 */
}
// ---------------------------------------------------------

//MessageInput.js
.message-input-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f4f4f8;
  margin-top: auto;
}

.message-input-wrapper {
  border-top: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  bottom: 0;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
}

.message-input {
  flex: 1;
  width: 86%;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #fff;
  outline: none;
  margin: 10px 0;
  // margin-left: 25px;

  &:focus {
    border-color: #f0a0a0; /* 포커스 시 파란색 */
  }

  &::placeholder {
    color: #aaa;
  }
}

.lock-icon {
  // margin-top: 13px;
  margin-left: 10px;
  padding: 8px;
  padding-bottom: 1px;
  background-color: #f0a0a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
.send-btn {
  // margin-top: 13px;
  margin-left: 8px;
  padding: 9px 14px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 15px; /* 버튼 둥글게 */
  cursor: pointer;
  background-color: #e1acac;
  flex-shrink: 0;
}

//MessageList.js
.message-list {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  max-height: 560px;
  overflow-y: auto;
}

.message-item {
  display: flex;

  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 14px;

  &.sender {
    margin-right: 15px;
    background-color: #c4d7ff; // 보낸 메시지 배경색
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }

  &.received {
    background-color: #ffffff; // 받은 메시지 배경색
    align-self: flex-start;
    border-bottom-left-radius: 0;
    border: 1px solid #ddd; // 받은 메시지 테두리
  }
}

.message-text {
  display: inline-block;
}

.message-sender {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}
