// ChatRomm.js

.chatroom-container {
  background-color: #f9f5f6;
  border: solid 1px #aaa;
  margin: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 1010px;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;

  &.folded {
    margin: 20px;
    width: 1440px;
  }
}

.chat-messages {
  overflow-y: auto;
}

//----------------------------------------------------------
//ChatRoomModal.js
.chatRoom-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
}

.chatroom-modal-content {
  background-color: wheat;

  border-radius: 8px;
  width: 400px;
}

// InviteFriendModal.js
.invite_modal_wrapper {
  position: absolute;
  top: 72px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.invite_modal_content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 500px;
  width: 90%;
  border: solid 2px #888;
}

.chat_update_Img {
  display: block;
  margin: 20px 177px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: solid 2px #ddd;
}

.invite_section {
  .modify-content {
    display: flex;
    gap: 20px;
  }

  .modal-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .invite-friends-list {
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow-y: auto;
    height: 350px;

    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      color: #555;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 8px;
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:hover {
          background-color: #f0f0f0;
        }

        .invite-btn {
          padding: 6px 12px;
          font-size: 14px;
          border: none;
          border-radius: 4px;
          background-color: #a8d0d7;
          color: #555;
          cursor: pointer;

          &:hover {
            background-color: #987070;
          }

          &.kick {
            background-color: #dbb5b5;
          }

          &.delegate {
            background-color: #e8d8b3;
            color: #333;
          }
        }
      }
    }
  }

  .create_btn,
  .close_btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;

    &:first-of-type {
      background-color: #f0a0a0;
      color: #fff;

      &:hover {
        background-color: #e1acac;
      }
    }

    &:last-of-type {
      background-color: #f0a0a0;
      color: #fff;

      &:hover {
        background-color: #e1acac;
      }
    }
  }

  .close_btn {
    margin-left: 0px;
  }
}

.tabs {
  margin-top: 10px;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}

.tabs button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #555;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tabs button:hover {
  background-color: #f5f5f5;
  color: #333;
}

.tabs button.active {
  background-color: #dbb5b5;
  color: white;
  border-bottom: 2px solid #dbb5b5;
}

.tabs button:focus {
  outline: none;
}

//ExitModal.js
.exit_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
}

// DelegateModal.js
.delefate_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }

  p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 6px;
      margin-bottom: 10px;
      background-color: transparent;

      li.selected {
        background-color: #f9f5f6;
      }

      &:hover {
        background-color: #f9f5f6;
      }

      .invite-btn {
        padding: 6px 12px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        background-color: #dbb5b5;
        color: #fff;
        cursor: pointer;

        &:hover {
          background-color: #987070;
        }
      }
    }
  }
}

// ----------------------------------------------------------
//ChatRoomHeader.js

.chatroom-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 2px solid #aaa;
  width: 100%;
  position: relative;
  z-index: 10;
}

.chatroominfo-name {
  flex-grow: 1;
  align-items: center;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  z-index: 10;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.chatroom-exit-btn {
  font-size: 40px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  flex-shrink: 0;
  min-width: 40px;
  margin-left: auto;
  z-index: 10;
}

.chatroom-invite-btn {
  font-size: 30px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  min-width: 40px;
  flex-shrink: 0;
  z-index: 10;
}

.chatroom-close-btn {
  font-size: 30px;
}

// ---------------------------------------------------------

//MessageInput.js
.message-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  background-color: #f9f5f6;
  border-top: solid 1px #aaa;
}

.file-preview {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  position: absolute;
  bottom: 72px;
  width: 100%;
}

.file-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  min-width: 150px;
}

.file-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-file-button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.replying-to-message {
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  // span {
  //   margin: 10px;
  //   margin-bottom: 0px;
  //   font-size: 12px;
  //   font-weight: bold;
  //   color: #333;
  //   white-space: nowrap;
  // }

  p {
    font-size: 14px;
    margin-top: 5px;
    padding-left: 10px;
  }

  button {
    margin-bottom: 5px;
    margin-right: 12px;
    background-color: transparent;
    border: none;
    color: #4c8bf5;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    align-self: flex-end;

    &:hover {
      text-decoration: underline;
    }
  }
}

.message-input-wrapper {
  flex: 1;
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  bottom: 0;
  width: 100%;

  box-sizing: border-box;
}

.message-input {
  flex: 1;
  width: 86%;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #fff;
  outline: none;
  margin: 10px 0;

  &:focus {
    border-color: #f0a0a0;
  }

  &::placeholder {
    color: #aaa;
  }
}

.mention-suggestions {
  position: absolute;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 15%;
  max-height: 120px;
  overflow-y: auto;
  bottom: 70px;
}

.member-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
}

.member-item.selected {
  background-color: #f2cfd3;
}

.member-name {
  margin-left: 15px;
}

.send-btn {
  margin-left: 8px;
  padding: 9px 14px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #e1acac;
  flex-shrink: 0;
}

.lock-icon {
  margin-left: 10px;
  padding: 8px;
  padding-bottom: 1px;
  background-color: #f0a0a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

.file-image {
  margin-left: 8px;
  cursor: pointer;
  font-size: 25px;
}

.modal-message {
  margin: 25px 15px;
}

.modal-ok-button {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  margin-left: 133px;
  font-size: 15px;
}

//MessageList.js
.message-list {
  flex-grow: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: 486px;
  overflow-y: auto;
}

.message-item {
  max-width: 70%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
  line-height: 1.5;
  font-size: 14px;

  justify-content: space-between;
  flex-direction: column;
  display: flex;

  .message-item .message-text {
    flex: 1;
  }

  &.sender {
    margin-left: 10px;
    background-color: #c4d7ff;
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }

  &.received {
    color: #333;
    background-color: #ffffff;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    border: 1px solid #ddd;
  }

  .message-sender {
    font-weight: bold;
  }

  .message-text {
    margin-top: 5px;
    font-size: 14px;
  }

  .reply-btn {
    background-color: transparent;
    border: none;
    color: #4c8bf5;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.replies {
  margin-top: 10px;
  padding-left: 15px;
  border-left: 2px solid #f0f0f0;

  .reply {
    background-color: #d9eafd;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .reply-text {
    font-size: 13px;
  }
}

.announcement {
  display: flex;
  justify-content: center;
}

.new-messages-preview {
  position: absolute;
  bottom: 100px;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  left: 10px;
  right: 10px;
  background: #e0e7ff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.new-messages-preview span {
  font-weight: normal;
  color: #1e2a47;
}

.text1 {
  font-size: 18px;
  margin: 10px;
  padding: 10px;
}

.text2 {
  font-size: 20px;
  margin: 0 10px 10px 10px;
  padding: 0px 10px 10px 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
}

.save-btn {
  background-color: rgb(92, 173, 240);
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cancel-btn {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(253, 113, 113);
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text3 {
  font-size: 20px;
  margin: 20px;
}

/* 공지사항 스타일 */
.announcement {
  background-color: #e3f2fd;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.announcement-icon {
  font-size: 20px;
  color: #2196f3;
  margin-right: 10px;
}

.announcement-content {
  font-size: 14px;
  color: #333;
  line-height: 1.4;
}

.announcement-text {
  font-weight: bold;
  color: #333;
}

// MessageListItme.js
.message-container {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
  margin-bottom: -10px;
  margin-top: 12px;
}

.reply-line {
  display: inline-block;
  border-top: 1px solid #000;
  width: 100%;
  margin: 5px 0;
}

.message-time {
  font-size: 12px;
  color: #333;
}

/* CustomLightboxStyles.css - 혜린 */
.ril-image-current {
  max-width: 80% !important;
  max-height: 80% !important;
  object-fit: contain;
}

.toolbar-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 7px 8px;
}

.imageDownload-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white200);
}

.document-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document-icon {
  font-size: 24px;
  margin-right: 7px;
  margin-top: 9px;
}

.document-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.document-name {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  color: #333;
}

.download-button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  // background-color: #6c757d;
  background-color: #6a7fdb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 24px;
}

.download-button:hover {
  // background-color: #5a6268;
  background-color: #5c6dc6;
}
