header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  border-bottom: solid 1px #aaa;
  background-color: #fcfcfc;

  padding-right: 20px;
  justify-content: space-between;

  .logo_icon {
    width: 80px;
    height: 80px;
    margin-left: 10px;
  }

  .title_and_icon {
    margin-right: auto;
    position: relative;
    .title {
      margin-left: 10px;
    }
    .left_align {
      margin-left: 50px;
      margin-right: auto;
    }
    .menu_container {
      position: absolute;
      color: #555;
      right: -80px;
      bottom: 4px;
    }
    .menu_dropdown {
      position: absolute;
      right: -110px;
      bottom: -25px;
      .menu_item:first-child {
        background-color: var(--button-color-update);

        &:hover {
          background-color: var(--button-color-update-hover);
        }
      }
      .menu_item:last-child {
        background-color: var(--button-color-negative);
        &:hover {
          background-color: var(--button-color-negative-hover);
        }
      }
      .menu_item {
        width: 100px;
        margin: 5px 0;
        text-align: center;
        padding: 5px 10px;
        border-radius: 5px;
        z-index: 5000;
      }
    }
  }
}
