.member_inviteBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.member_inviteItem:nth-child(1) {
  flex-grow: 2;
  width: 100%;
}

.member_inviteItem:nth-child(2) {
  flex-grow: 1;
  width: 100%;
}
