.myFriends_container {
  height: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.myFriends_container_item {
  margin: 0 auto;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.myFriends_userInfo_container {
  flex: 1;
  width: 100%;
  height: 570px;
  overflow-y: auto;
}

.myFriends_friendStatus_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.myFriends_friendStatus_item {
  flex: 1;
  width: 100%;
}

.myFriend_request_info {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid darkgray;
  padding: 3px 10px;
  > div {
    > p:nth-child(2) {
      font-size: 15px;
      color: #6b7280;
    }
  }
  > p {
    font-size: 13px;
    color: #6b7280;
  }
}

.myFriends_request_userInfo {
  height: 280px;
  overflow-y: auto;
}

//userInfo랑 나머지정보 flex하는 클래스
.myFriends_userInfo_flex {
  height: 90px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.myFriends_userInfo_view:hover {
  background-color: #e4c0cb;
  border-radius: 10px;
  cursor: pointer;
}
