.myFriends_container {
  height: 95%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
}

.myFriends_container_item{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.myFriends_userInfo_container{
  flex: 1;
  overflow-y : auto;
}